
<div class="prof_header">
  <div class="row">
    <div class="col-md-4">

      <%= image_tag @user.photo, class: 'prof_pic pull-left' %>
    </div>
    <div class="col-md-8">
      <div class="user_header">
        <div class="row">
            <div class="col-md-6">
              <h1 class = "username"><%= @user.name %></h1>
            </div>

          <div class="col-md-6">
              <% if @user == current_user%>
                <%= link_to 'EDIT PROFILE', edit_user_registration_path(@user), class: 'user_edit_button btn btn-default' if user_signed_in? && @user == current_user %>
              <%else%>
                <%if current_user_is_following(current_user.id, @user.id)%>
                  <%= link_to 'Following', unfollow_user_path(@user), remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post%>
                <%else%>
                    <%= link_to 'Follow', follow_user_path(@user), remote: true, class: 'btn follow-button', id: 'follow-button', method: :post%>

                <%end%>
              <%end%>
          </div>
        </div>  
      </div>
      <span class="count"><%= @user.posts.count %></span> posts
    </div>
  </div>
</div>
<div class="container">
  <div class="prof_post_box">
    <div class="row">
      <% @user.posts.each do |post| %>
        <div class="gallery_product col-md-4">
            <%= link_to post_path(post.id) do %>
              <center><%= image_tag post.photo, class: 'prof_show' %></center>
              <%end%>
        </div>

      <% end %>
    </div>
  </div>
  </div>
 </div>   